<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flip Card Blog Index</title>
  </head>
  <body>
    <h1>Hello Jarvice !</h1>
    <p><h1><b>Fictional character biography</b></h1><br>
      <h2>Powers and abilities</h2>
      <h3>Iron Man 2020 wears a suit of highly sophisticated armor,<br>
      similar in appearance to the classic Iron Man armor<br>
      (circa Model 5), with the exception of the faceplate and<br>
      shoulders. Beam weapons are fitted in the gauntlets of<br>
      the suit, as well as the chest beam and shoulder epaulets.<br>
      The user no longer requires a cybernetic link in the helmet<br>
      to control the armor; the helmet can also be hidden via<br>
      cloaking technology, which was presumably developed based<br>
      on the Chameleon mode of the Silver Centurion armor. Iron<br>
      Man 2020's systems are built for warfare, not super heroics<br>
      like the original Iron Man. Iron Man 2020's repulsors<br>
      (and an arsenal of other weapons) always fire at maximum<br>
      power for the most lethal effects. Curiously, Iron Man 2020<br>
      also has the original Iron Man's 1970s-era rollerskates<br>
      (updated to a "roller blade" style (see ASM Annual #20))<br>
      built into the boots of the suit.</h3>
    {% load static%}

    <button>
    <a href = "{% static 'blog/hd walpaper iron man.jpg' %}"><img href="blog/hd walpaper iron man.jpg" >Images of Legent Man </a>
  </body>
</html>